@model IEnumerable<Vidly.Models.Movie>

    @{
        ViewBag.Title = "Movies";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    @if (!Model.Any())
    {
        <p>We seem to be out of movies to rent. Check back soon!</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><h4>Movie Title:</h4></th>
                    <th><h4>Genre:</h4></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(movie.Name, "Details", "Movie", new { id = movie.Id }, null)</td>
                        <td>@movie.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
